## velocity 宏   航空单元信息-容器 其中box包含航班item块 （简略版）
## $airList - 当前航班单元List集合

#foreach($airItem in $airList)
#set($airIndex = $velocityCount)
<div class="panel">
    <table class="panel-box-info">
        <tr>
            <td rowspan="2" class="w40 icon" style="background-image: url('http://lg.e-fly365.com/static_cdn/email/img/icon-flight.jpg');"></td>
            <td style="width:150px"><b>PNR：</b>$airItem.pnrno</td>
            <td><b>乘机人：</b>$airItem.allpsgunitename</td>
            <td style="width:170px"><b>机票类型：</b>
                #if($airItem.scopeflag == "0")
                国内
                #elseif($airItem.scopeflag == "1")
                国际
                #end
            </td>
        </tr>
        <tr>
            <td><b>预订方式：</b>
                #if($airItem.sysflag == "0")
                网站
                #elseif($airItem.sysflag == "1")
                差旅桌面
                #elseif($airItem.sysflag == "2")
                差旅随行
                #end
            </td>
            <td><b>出票时限：</b>$airItem.tktl</td>
            <td><b>#if($airItem.discount)折扣：</b> $airItem.discount #end</td>
        </tr>
        <tr>
            <td></td>
            <td><b>机票总价：</b>
                #set($totalPrice = $airItem.priceVO.ticketprice + $airItem.priceVO.tax)
                #if($totalPrice > 0)
                $totalPrice
                #else
                0
                #end</td>
            <td><b>机票单价：</b>
                #if($airItem.priceVO.ticketprice > 0)
                $airItem.priceVO.ticketprice
                #else
                0
                #end
            </td>
            <td><b>#if($airItem.scopeflag == "0") 机场建设费：#else 总税费： #end</b>
                #if($airItem.priceVO.tax > 0)
                $airItem.priceVO.tax
                #else
                0
                #end
            </td>
        </tr>
        #if($airItem.priceVO.transfee && $airItem.priceVO.transfee > 0)
        <tr>
            <td></td>
            <td><b>服务费：</b>$airItem.priceVO.transfee</td>
            <td></td>
            <td></td>
        </tr>
        #end
        #if($airItem.resultInsuranceVO)
        <tr>
            <td></td>
            <td><b>保费：</b>￥ $airItem.resultInsuranceVO.price * $airItem.resultInsuranceVO.acount /人</td>##（全程2航段。每段￥30）
            <td><b>保险：</b>$airItem.resultInsuranceVO.insurancename $airItem.resultInsuranceVO.insurancecode</td>
            <td><b>最高赔付：</b>￥$airItem.resultInsuranceVO.maxcoverage/航段</td>
        </tr>
        #end
        <tr>
            <td></td>
            <td><b>是否违背差旅政策：</b>
                #if($airItem.policyVO.isContraryPolicy == "Y" || $airItem.policyVO.isContraryPolicy == "1")
                是
                #else
                否
                #end
            </td>
            <td>
                #if($airItem.policyVO.lostvolume)
                <b>错失节约成本：</b>
                #end
                #if($airItem.policyVO.lostvolume)
                $airItem.policyVO.lostvolume
                #else
                #end
            </td>
            <td>#if($airItem.policyVO.isContraryPolicy == "Y" || $airItem.policyVO.isContraryPolicy == "1")
                <b>违背政策原因：</b>
                #end
                #if($airItem.policyVO.missSaving)
                $airItem.policyVO.missSaving
                #end</td>
        </tr>
    </table>
    ##循环显示航班cell块
    #foreach($airCell in $airItem.resultSegmentVOList)
    #widget("widget/flight/flightCell.vm")
    #end
</div>
#end