## 收件人- TC
## 功能 -  火车票出票成功
## 标题 -  关于【奇虎科技】【招静文】的行程火车票出票成功通知（行程号【200002553】）
## 主体 -  描述提示语句 + 行程单元（详细）+ 公有结束语

#extends("page/layout/frame.vm")
#block("body")
##描述提示语句
#block("discription")
<table class="description">
    <tr>
        <td><b>您好，</b></td>
    </tr>
    <tr>
        <td class="con1">$psgname的行程火车票出票成功。</td>
    </tr>
</table>
#end

##如果有火车票单元数据，循环显示火车票单元（详细）
#if($order.trainList.size() > 0)
#set($trainList = $order.trainList)
#extends("widget/train/trainInfo.vm")

  ## auto inject by fis3-preprocess-extlang
  #require("page/TC/trainTicketSuc.vm")
#end
#end


##公有结束语
#block("ending")
#widget("widget/emailInfo/ending.vm")
#end
#end

  ## auto inject by fis3-preprocess-extlang
  #require("page/TC/trainTicketSuc.vm")
#end